<strong>Caro, {{name}}. Sua questão foi respondida.</strong><br/>
<strong>Pergunta:</strong><br/>
<p style="font-size: 12px; margin-top: 2px; word-break: break-all;">{{question}}</p><br/>
<strong>Resposta:</strong><br/>
<p style="font-size: 12px; margin-top: 2px; word-break: break-all;">{{answer}}</p>
